
/**
 * Formatting for conversions table.
 */
table.deadwood-conversions tr.missing {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}

table.deadwood-conversions tr.notify {
  background-color: #ffd;
  border-color: #eeb;
}

table.deadwood-conversions tr.available {
  background-color: #dfd;
  border-color: #beb;
}

table.deadwood-conversions tbody th {
  padding-left: 30px; /* LTR */
}

table.deadwood-conversions th {
  background-repeat: no-repeat;
  background-position: 5px 50%; /* LTR */
  padding-top: 6px;
  padding-bottom: 6px;
}

table.deadwood-conversions tr.missing th {
  background-image: url(/misc/watchdog-error.png);
}

table.deadwood-conversions tr.notify th {
  background-image: url(/misc/watchdog-warning.png);
}

table.deadwood-conversions tr.available th {
  background-image: url(/misc/watchdog-ok.png);
}

table.deadwood-conversions th {
  border-color: #d3e7f4;
}